* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

body {
    font-family: helvetica, sans-serif;
    background-color: rgb(243, 237, 199);
}

h2, h3 {
    font-family: 'Montserrat', sans-serif;
}

h2 {
    text-transform: uppercase;
}

/**********for phones 0 - 599px **********/

.container {
    width: 85%;
    margin: auto;
    overflow: hidden;
}

/* header with logo and navigation bar*/
#branding {
    margin: 6px 0;
    text-align: center;
}

#branding img {
    max-width: 97%;
}

nav {
    text-align: center;
    margin-bottom: 4px;
}

header li {
    display: block;
    margin: 3px;
    font-weight: bold;
}

header a {
    color: rgb(32, 56, 74);
    padding: 3px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
}

header .current a {
    color: rgb(195, 59, 54);
}

header a:hover {
    color: rgb(213, 170, 86);
}

/* showcase image section*/
#showcase {
    background-color: rgb(32, 56, 74);
    text-align: center;
}

#showcase img {
    max-width: 100%;
}

/* about the band */
#band {
    background-color: rgb(227, 197, 103);
    color: rgb(32, 56, 74);
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    line-height: 1.3em;
    padding: 25px 0 25px;
}

.band-container {
    width: 85%;
    height: 100%;
    max-width: 1000px;
    margin: 0 auto;
    background-image: url("../img/mab-logo-lg.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: scroll;
}

#section-header {
    text-align: center;
}

#section-header img {
    width: 36px;
    padding: 5px 0 0 0;
    margin-bottom: 5px;
}

.band-container p {
    text-align: justify;
    max-width: 300px;
    margin: 0 auto;
}

#bandcamp-widget-sm {
    border: 0;
    width: 100%;
}

#music-container {
    max-width: 500px;
    margin: 30px auto 0 auto;
    overflow: hidden;
}

/* upcoming shows */
#dates h2 {
    color: #c33b36;
    text-align: center;
    margin: 30px 0 30px 0;
}

.bit-widget-container {
    padding-bottom: 80px;
}

/* for IE */
.bit-widget .bit-event .bit-rsvp-container {
    flex-basis: auto !important;
}

.bit-widget .bit-event .bit-offers-container {
    flex-basis: auto !important;
} /* end IE */

/* social media */
#social {
    padding: 30px 0 10px 0;
    text-align: center;
    background-color: rgb(221, 221, 221);
}

#social h3 {
    margin-bottom: 30px;
}

.icons {
    width: 35px;
    height: 35px;
}

/* footer section */
footer {
    background-color: rgb(221, 221, 221);
    color: rgb(136, 136, 136);
    text-align: center;
    font-size: 8px;
}

footer p {
    margin: 20px 0;
}

/* band page bios */
.h3-styling {
    padding: 10px 0 30px 0;
}

.p-styling {
    text-align: justify;
    max-width: 300px;
    margin: 0 auto;
}

.bio-text-styling {
    font-size: 14px;
    line-height: 1.5;
}

/* mike's bio section */
#top-bio {
    background-color: rgb(32, 56, 74);
    color: rgb(227, 197, 103);
    padding: 30px 0;
}

.portrait-img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
    padding: 0 0 20px 0;
}

/* steve's bio section */
#middle-bio {
    background-color: rgb(227, 197, 103);
    color: rgb(32, 56, 74);
    padding: 30px 0;
}

.landscape-img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
    padding: 0 0 20px 0;
}

/* cam's bio section */
#bottom-bio {
    color: rgb(32, 56, 74);
    padding: 30px 0;
}

/* shows page */
#show-page {
    background-color: rgb(32, 56, 74);
    min-height: 100vh;
}

#show-page h2 {
    color: rgb(255, 255, 255);
    padding: 80px 0;
    text-align: center;
}

/* media page */
#audio {
    background-color: rgb(227, 197, 103);
}

#bandcamp-widget-lg {
    display: block;
    padding: 40px 0;
    margin: 0 auto;
    border: 0;
    width: 240px;
    height: 820px;
}

/* gallery */
#gallery {
    background-color: rgb(32, 56, 74);
}

.row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    padding: 40px 0;
}

.img-select {
    border: 1px solid rgb(32, 56, 74);
}

.img-select:hover {
    border: 1px solid #fff;
}

#gallery h2 {
    color: rgb(227, 197, 103);
    margin-top: 40px;
    text-align: center;
}

#gallery p {
    color: rgb(227, 197, 103);
    text-align: center;
    padding-top: 10px;
}

/* videos */
#audio h2, #videos h2 {
    color: rgb(32, 56, 74);
    margin-top: 40px;
    text-align: center;
}

#videos h2 {
    margin-bottom: 40px;
}

/* columns */
.column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
    padding: 0 4px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}

#videos {
    text-align: center;
}

.video-styling {
    padding: 10px;
    width: 280px;
    height: 158px;
}

#videos h3 {
    color: rgb(32, 56, 74);
    padding: 0 0 30px 0;
    max-width: 280px;
    margin: auto;
}
  
/**********0px - 411px (for IE) **********/
@media screen and (max-width: 411px)  {
    .bit-widget .bit-event .bit-rsvp-container {
        flex-basis: 50% !important;
    }
    
    .bit-widget .bit-event .bit-offers-container {
        flex-basis: 50% !important;
    } 	
        
}

/**********for tablets 600px - 899px (portrait) **********/

@media screen and (min-width: 600px)  {
    header li {
        display: inline-block;
    }
    
    #branding {
        margin: 11px 0;
    }

    nav {
        margin-bottom: 11px;
    }

    .p-styling {
        max-width: 550px;
    }

    .band-container p {
        padding: 30px 0;
        max-width: 500px;
    }

    #bandcamp-widget-lg {
        width: 400px;
        height: 950px;
    }

    .video-styling {
        width: 500px;
        height: 281px;
    }

    #videos h3 {
        color: rgb(32, 56, 74);
        padding: 0 0 30px 0;
        max-width: 500px;
        margin: auto;
    }
}

/**********for tablets 900px - 1199px (landscape) **********/

@media screen and (min-width: 900px)  {
    #branding {
        float: left;
    }

    #branding img {
        width: 350px;
    }

    nav {
        float: right;
        margin: 22px 0;
    }

    #band {
        font-size: 19px;
    }

    .band-container p {
        padding: 30px 0;
        max-width: 650px;
    }

    #section-header img {
        width: 50px;
        margin-bottom: 20px;
    }

    #section-header h2 {
        font-size: 1.5em;
        margin: 0 0 32px 0;
    }

    #dates h2 {
        margin: 80px 0 45px 0;
    }

    #social {
        padding: 40px 0;
    }
    
    .icons {
        width: 50px;
        height: 50px;
    }

    footer {
        font-size: 10px;
    }

    .p-styling {
        max-width: 800px;
    }

    /* mike's bio section */
    #top-bio {
        padding: 50px 0;
    }

    .portrait-img {
        max-width: 100%;
        padding: 0 0 40px 0;
    }

    /* steve's bio section */
    #middle-bio {
        padding: 50px 0;
    }

    .landscape-img {
        max-width: 100%;
        padding: 0 0 40px 0;
    }

    /* cam's bio section */
    #bottom-bio {
        padding: 50px 0;
    }

    .p-styling {
        font-size: 19px;
    }
    
    .bio-text-styling {
        font-size: 19px;
    }  
    .column {
        -ms-flex: 25%; /* IE10 */
        flex: 25%;
        max-width: 25%;
        padding: 0 4px;
    }  

    h2 {
        font-size: 36px;
    }
}

/**********for desktop 1200px - above**********/
@media screen and (min-width: 1200px) {

    header, #dates {
        width: 1200px;
        margin: 0 auto;
    }

    #branding {
        float: left;
    }

    #branding img {
        width: 350px;
    }

    nav {
        float: right;
        margin: 22px 0;
    }

    .band-container p {
        padding: 30px 0;
    }

    #top-bio {
        padding: 50px 0;
    }

    #middle-bio {
        padding: 50px 0;
    }

    #bottom-bio {
        padding: 50px 0;
    }

    .portrait-img {
        max-width: 100%;
        padding: 0 0 40px 0;
    }

    .landscape-img {
        max-width: 100%;
        padding: 0 0 40px 0;
    }
}


